
module.exports = {
  github: {
    user: "", // username or organization name
    repo: "", // repository name
    token: "", // Personal OAuth token
    labels: [] // labels for generated issues
  },

  // whitelist of From addresses or domains
  whitelist: {
    emails: [],
    domains: [] // e.g. "sslmate.com"
  },

  // print received POSTs to console
  debug: true
}
