
module.exports = {
  github: {
    user: "", // username or organization name
    repo: "", // repository name
    token: "", // Personal OAuth token
    labels: [] // labels for generated issues
  },

  // print received POSTs to console
  debug: true
}
